// Core variables and mixins
@import "mixins";
@import "variables";
//Reset and Grid generate (use on start proect and insert in <head>)
// @import "normalize";
// @import "grid";

//Load Libs Sass/SCSS
@import "app/libs/slick-1.5.9/slick/slick.scss";
@import "app/libs/slick-1.5.9/slick/slick-theme.scss";

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}
body input:required:valid,
body textarea:required:valid {
  color: #666;

}
// TODO: remove
html {background-color: blanchedalmond;}
//Custom Styles Here
// ====================================================================
// Slider section
// ====================================================================
.slider {
  background: #ec6869 url(../img/slider_bg.jpg) no-repeat 0 0;
  // TODO: remove
  // min-height: 450px;
}
.slider__title {
  font: 34px "OpenSansSemiBold", sans-serif;
  line-height: 45px; 
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px rgba(0,0,0, .1);
}
.slider__description {
  font-size: 18px;
  color: #fff;
}
.slider__button {
   display: block;
   width: 50%;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   padding: 20px;
   font: 16px "OpenSansSemiBold", sans-serif;
   border-radius: 2px;
   text-align: center;
   color: #333;
   text-transform: uppercase;
   background-color: #ececec;
   box-shadow: 2px 2px 2px rgba(224,97,97, .5);
   // TODO: сделать кросбраузеной
   background: linear-gradient(#fff 0%,  #d7d7d7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.help {
  display: block;
  font: 14px "OpenSansLight", sans-serif;
  text-decoration: underline;
  color: #e7e7e7;
}
.slider__img {
  // удаляет отступ под фотографией
  font-size: 0;
} 
// ====================================================================
// Slider section (test_js)
// ====================================================================
.test_js {
  * {
    outline: none;
  }
  .slider-nav,
  .slider {
    background: transparent;
    text-align: center;
    font-size: 26px;
    color: #fff;
  }
  .slide--full {
  min-height: 480px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 70px;
  // line-height: 400px;
  text-align: left;
}
.slide--mini {
  min-height: 150px;
  line-height: 150px;
}
.slider-nav {
  position: relative;
  top: -80px;
// Модификатор: уменьшает размер слайда
  &.slide--single {
    width: 40%;
    margin: 0 auto;
  }

// Центрирование навигации
// TODO: remove (bad practices - change class library)
  .slick-track {
    margin: 0 auto;
  }
  .slick-next:before { content: '>'; }
  .slick-prev:before { content: '<'; }
  .slick-next:before,
  .slick-prev:before {
    color: #c2185b;
    font-weight: bold;
  }

  .slide {
    display: inline-block;
    min-height: 80px;
    line-height: 80px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 0;
    cursor: pointer;
  }
  img {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}
  .slider {
    margin-top: 100px;
    .slide {
      position: relative;
      background-color: bisque;
    }
  }
  .slider__title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 32px;
    font-size: 18px;
    color: #000;
  }    
  h2.slider__title {
    color: #2980B9;
  }
  .slider__description {
    color: #000;
  }
  .slider__link {
    font-size: 16px;
    font-style: italic;
    color: #2980B9;
  }
  .slider__img {
    padding-top: 40px;
    img {
      width: 100%;
    }
  }
}
// кнопка умньшения слайда
.zoom-out {
  position: absolute;
  left: 40px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  margin: 0;
  border: 2px solid #7F8C8D;
  border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      // центрирование линии по осям X и Y 
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      
      width: 60%;
      height: 2px;
      background-color: #7F8C8D;

    }
}
.outline {
  border: 1px solid #795548;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(35, 35, 35, 0.5);
}
// TODO: доработать 
// - динамическое добавление слайдов
.add-slide {
  padding: 0 20px;
  line-height: 50px;
  // background-color: tomato;
  color: #fff;
  text-align: center;
}
// - описание при наведении на минниатюру слайдф
.mini-map__desc {
  position: absolute;
  bottom: -80px;
  left: -130px;
  display: none;
  width: 350px;
  padding: 10px;
  border: 2px solid #7F8C8D;
  border-radius: 5px;
  background-color: #fff;
  .slider__title {
    font-size: 12px;
    line-height: normal;
  }
  // стрелка указатель
  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    transform: rotateZ(45deg);
    width: 9px;
    height: 9px;
    border: 2px solid #7F8C8D;;
    border-bottom: none;
    border-right: none;
    background-color: #fff;
  }
}
//ALWAYS END
@import "media";
